<h1> Employee First Name: <%= @employee.first_name %></h1>
<h1> Employee Last Name: <%= @employee.last_name %></h1>
<h1> Employee Alias: <%= @employee.alias %></h1>
<h1> Employee Title: <%= @employee.title %></h1>
<h1> Employee Office: <%= @employee.office %></h1>
<h1> Employee IMG-URL: <%= @employee.img_url %></h1>

<%= link_to "List of Employees", employees_path %>